<div class="card">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, error. Reprehenderit, ullam.</P>
            <form action="" class="form-inline mb-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" placeholder="Enter your name.">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control" placeholder="Enter your email.">
                </div>
            </form>
        </div>
    </div>
</div>
